body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; // couleur de fond globale
  color: #111827; // couleur texte
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #2563eb; // bleu primaire
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
